@model Customer

<html>
    <head>

    </head>

    <body>

    <form action="/Home/Update" method="post">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>SurName</th>
                <th>Age</th>
                <th>Payment</th>
                <th>Adress</th>
                <th></th>
            </tr>
            </thead>

            <tbody>                 
                    <tr>
                   
                        <td>
                        <input type="text" value="@Model.Name" name="Name" />
                        </td>
                        <td>
                        <input type="text" value="@Model.SurName" name="SurName" />
                        </td>
                        <td>
                        <input type="number" value="@Model.Age" name="Age" />
                        </td>
                        <td>
                        <input type="number" value="@Model.Payment" name="Payment" />
                        </td>
                        <td>
                        <input type="text" value="@Model.Adress" name="Adress" />
                        </td>  
                        <td>
                        <input type="submit" value="Update" />
                        <input type="hidden" value="@Model.ID" name="ID" />
                        </td>
                      
                    </tr>
                    
                      
            </tbody>

        </table>
 </form> 
   </body>
</html>